nav {
  background-image: linear-gradient(90deg, #3b83f6 0%, #BE38B0 100%);/*rgb(59, 130, 246); */
  color: #fff;
}

.cta-button {
  position: relative;
  height: 40vh;
  max-height: 40vh;
  border: 3px solid #000;
  display: inline-block;
  transition: ease-out 0.1s;
}

.cta-button:hover {
  background-color: rgba(0,0,0,0.1);
  transition: ease-in 0.1s;
}

.cta-button span{
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

@media screen(sm) {
  .cta-button {
    height: 40vw;
    max-height: 600px;
  }
}
