@import url('https://fonts.googleapis.com/css2?family=family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --p3d-brand-blue: #2A3DDF;
  --p3d-brand-purple: #A60BDC; 
}

body {
  font-family: "Open Sans", sans-serif;
}

nav {
  color: #000;
  background-color: #F7F7F7;
  box-shadow: 0px 1px 4px #ddd;
}

nav h2 {
  font-weight: 800;
}

.fg-brand-blue {
  color: var(--p3d-brand-blue);
}

.bg-brand-blue {
  background-color: var(--p3d-brand-blue);
}

.border-brand-blue {
  border-color: var(--p3d-brand-blue);
}

.brand-blue-accent {
  background-color: #2A3DDF33;
  color: var(--p3d-brand-blue);
  border: 1px solid var(--p3d-brand-blue);
}

.fg-brand-purple {
  color: var(--p3d-brand-purple);
}

.bg-brand-purple {
  background-color: var(--p3d-brand-purple);
}

.cta-button {
  position: relative;
  height: 40vh;
  max-height: 40vh;
  border: 3px solid #000;
  display: inline-block;
  transition: ease-out 0.1s;
}

.cta-button:hover {
  background-color: rgba(0,0,0,0.1);
  transition: ease-in 0.1s;
}

.cta-button span{
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.full-screen {
  height: calc(100vh - 2.75rem);
}

.full-without-title {
  height: calc(100% - 5rem - 1rem - 1.25rem - 1rem);
}

@media screen(sm) {
  .cta-button {
    height: 40vw;
    max-height: 600px;
  }
}
