@import url('https://fonts.googleapis.com/css2?family=family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --p3d-brand-blue: #3176FF;
  --p3d-brand-purple: #E90EF8; 
  --p3d-brand-red: #c22121;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

nav.app-page {
  color: #000;
  background-color: #F7F7F7;
  box-shadow: 0px 1px 4px #ddd;
}

nav.home-page {
  background-color: rgba(0,0,0,0);
  color: #fff;
  position: absolute;
  z-index: 99;
}

nav h2 {
  font-weight: 800;
}

.fg-brand-blue {
  color: var(--p3d-brand-blue);
}

.bg-brand-blue {
  background-color: var(--p3d-brand-blue);
}

.border-brand-blue {
  border-color: var(--p3d-brand-blue);
}

.brand-blue-accent {
  background-color: #2A3DDF33;
  color: var(--p3d-brand-blue);
  border: 1px solid var(--p3d-brand-blue);
}

.brand-blue-accent:hover {
  background-color: #2A3DDF33;
}

.fg-brand-purple {
  color: var(--p3d-brand-purple);
}

.bg-brand-purple {
  background-color: var(--p3d-brand-purple);
}

.bg-brand-red {
  background-color: var(--p3d-brand-red);
}

.cta-button {
  position: relative;
  height: 40vh;
  max-height: 40vh;
  border: 3px solid #000;
  display: inline-block;
  transition: ease-out 0.1s;
}

.cta-button:hover {
  background-color: rgba(0,0,0,0.1);
  transition: ease-in 0.1s;
}

.cta-button span{
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.full-screen {
  /* 
   * 2.5rem -> title height
   * 1.5rem -> 0.75rem pad on top and bottom
   */
  height: calc(100vh - 2.5rem - 1.5rem);
}

.h-full-less-bottom-bar {
  height: calc(100% - 1rem - 1rem - 24px - 4px);
}

.full-without-title {
  height: calc(100% - 5rem - 1rem - 1.25rem - 1rem);
}

.step-circle {
    --b:5px;  /* border width*/
    color: #000;
    margin: 10px;
    aspect-ratio: 1;
    position: relative;
    z-index: 0;
}
  
.step-circle:before {
      content:"";
    position:absolute;
    z-index:-1;
    inset: 0;
    background: var(--c,linear-gradient(to right, var(--p3d-brand-blue), var(--p3d-brand-purple)));
    padding: var(--b);
    border-radius: 50%;
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
            mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
}

@media screen(sm) {
  .cta-button {
    height: 40vw;
    max-height: 600px;
  }
}
